@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  font-family: var(--Sniglet-font);
}
h1{
  overflow: hidden;
}

header{
  overflow-x: hidden;
}

.container-fluid{
  padding: 0;
}

 


:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --bggradient: linear-gradient(to bottom, #efe2ba, #5ab9ea);
  --light-gray: rgba(241, 241, 241, 0.877);
  --orange: #ff512f;
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: whitesmoke;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  margin: 0 2rem;
}

.nav-link {
  display: inline-block;
  color: rgb(247, 241, 241);
}
.nav-link:hover {
  color: var(--orange);
}


#logo:hover{
  color: var(--orange);
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 90%;
}


header .container .col-md-7 {
  font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar:hover{
  background-color: black;
}
/* slider start */

.slider{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  z-index: -100;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(7, 17, 71, 0.5)), url('assets/l1.jpg') no-repeat center/cover;
}


.slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .4s linear ;

}
.active{
  opacity: 1;
}


  
.slide .inner{
  width: 80%;
  position: absolute;
  bottom: 50%;
  left: 10%;
  color: #eee;
  opacity: 0;
}

.slide .inner h1{
  font-size: 5rem;
  
} 

.slide.active .inner{
  opacity: 1;
}

.indicators{
  position: absolute;
  bottom: 5%;
  right: 10%;
  cursor: default;
}

.indicators button{
padding: 0.5rem 1rem;
font-size: 1em;
background-color: rgba(0, 0, 0, .7);
color: #eee;
border: 0;
}
button:focus{outline: 0;}



/* slider end */

/* About us starts */

.about-us{
  min-height: 100vh;
  

}
/* About ends */



/*  Projects Start */

#projects{
  background-color: var(--light-gray);
}
.projectCard {
  height: 15rem;
  padding: 1rem;
  margin: 1em 0;
  background-position: center;
  background-size: cover;
  transition: transform 0.2s;
  background-image: url(assets/pexels-photo-1904769.jpeg);
}

.projectCard:hover {
  transform: scale(1.05);
  background-image: linear-gradient(rgba(0, 0, 0, 0.353), rgba(0, 0, 0, 0.3)),
    url(assets/pexels-photo-1904769.jpeg);
}

/*Projects End */

/* Parallax start */

.parallax{

  height: 70vh;
  background-image: url(assets/parallax.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



/* Parallax end */

/* How do we help start */
#how-do{

  min-height: 100vh;
  
}
/* How do we help end */



/* footer start */

footer {
  background: rgba(0, 0, 0, 0.89);
  overflow-x: hidden;
  padding: 0 18vmin;
  color: var(--orange);
}


.footer-link{
color: var(--orange);
}

.footer-link:hover{
  color: var(--light-gray);
  }

  .awes-2 {
    font-size: 2em;
    color: var(--orange);
    transition: 0.3s;
  }
  .awes-2:hover {
    font-size: 2.5em;
    color: var(--light-gray);
  }

